{% extends "network/layout.html" %} {% block body %}

<!-- Main content container -->
<div class="container-lg page-display">
  <!-- Page header -->
  <div class="container-lg header">
    <h1>Following</h1>
  </div>

  <!-- Display posts from followed users -->
  <div class="following-posts">
    {% for post in page_posts %}
    <div class="container-lg post-display">
      <!-- Link to the user's profile who made the post -->
      <h5 class="post-user"><a href="{% url 'profile' user_id=post.user.id %}" class="post-user-link">@{{ post.user }}</a></h5>
      <!-- Display the content of the post -->
      <h6 class="post-content">{{ post.content }}</h6>
      <!-- Display the date of the post -->
      <p class="post-date">{{ post.date }}</p>
      
      <!-- Post buttons section -->
      <div class="post-buttons">
      {% if user.is_authenticated %}
      <!-- Like/Unlike button -->
      <button class="btn btn-info bi bi-hand-thumbs-up-fill" id="{{ post.id }}" onclick="likeHandler({{ post.id }}, {{ user_likes }})"> <span id="like-count-display_{{ post.id }}">{{ post.like_count }}</span></button>
      {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Page navigation -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <!-- Previous page link -->
      {% if page_posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a>
      </li>
      {% endif %} 
      
      <!-- Next page link -->
      {% if page_posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!-- JavaScript function for handling likes -->
<script>
  function likeHandler(id, user_likes) {
    // Get the like button element
    const like_btn = document.getElementById(`${id}`);

    // Check if the post is liked by the user
    const liked = user_likes.includes(id);

    // URL for adding/removing like
    const requestUrl = `/add_or_remove_like/${id}`;

    // Fetch to update like count
    fetch(requestUrl)
      .then(response => response.json())
      .then(data => {
        console.log('Response data:', data);

        if (data && data.like_count !== undefined) {
          // Update the like count on the page
          const likeCountDisplay = document.getElementById(`like-count-display_${id}`);
          likeCountDisplay.innerText = data.like_count;
        } else {
          console.error('Invalid response format:', data);
        }
      })
      .catch(error => console.error('Error handling like:', error));
}
</script>

{% endblock %}
